<div class="container-fluid">
  <div class="container">
    <div class="row first">
      <div class="col-md-2 d-flex justify-content-center">
        <div class="lorem">LOREM</div>
      </div>

      <div class="col-md-2 d-flex justify-content-center">
        <div class="city">
          <span class="num1">24</span>
          <span class="cities">CITIES</span>
        </div>

      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <div class="country">
          <span class="num2">4</span>
          <span class="countries">COUNTRIES</span>
        </div>

      </div>
      <div class="col-md-3 d-flex justify-content-center countryImages ">
        <div>
          <img class="shadow-lg rounded-circle" src="../../../assets/first.webp" alt="image1" />
        </div>
        <div>
          <img class="shadow-lg rounded-circle" src="../../../assets/second.webp" alt="image2" />
        </div>
        <div>
          <img class="shadow-lg rounded-circle" src="../../../assets/third.webp" alt="image3" />
        </div>
        <div>
          <img class="shadow-lg rounded-circle" src="../../../assets/fourth.png" alt="image4" />
        </div>

      </div>
      <div class="col-md-3 d-flex justify-content-center socialMediaIcon">
        <div>
          <img src="../../../assets/GOOGLE.png" alt="image1" />
        </div>
        <div>
          <img src="../../../assets/FB.png" alt="image2" />
        </div>
        <div>
          <img src="../../../assets/LINKEDIN.png" alt="image3" />
        </div>
        <div>
          <img src="../../../assets/TWITTER.png" alt="image4" />
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row second"></div>
  </div>
  <div class="container">
    <div class="row third ">
      <div class="col-md-1 d-flex justify-content-center">
        <div class="termsCondition">About</div>
      </div>
      <div class="col-md-1 d-flex justify-content-center">
        <span class="termsCondition">Carries</span>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <span class="termsCondition">Privacy Policy</span>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <span class="termsCondition">Terms & Condition</span>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <span class="termsCondition">Mobile App</span>
      </div>
      <div class="col-sm-2 col-md-1 d-flex justify-content-center">
        <span class="termsCondition">Blog</span>
      </div>
      <div class="col-md-1 d-flex justify-content-center">
        <span class="termsCondition">Contact</span>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <span class="termsCondition">SiteMap</span>
      </div>
    </div>
    <br>
  </div>
</div>