@import '../../../styles-variables';
@import '../../../styles.scss';

.header{
    margin-top: 2rem;
    margin-bottom: 3rem;
    .text{

        .paragraph{
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            p{
                display: inline;
                padding-right: 1rem;
             }
                .review{
                        height: 22px;
                        width: 62px;
                        color: #4A4A4A;
                        @include fontOpen_Sans;
                        font-size: 16px;
                        letter-spacing: -0.27px;
                        line-height: 22px;
                    }
                .right{
                        display: block;
                        float: right;
                            .show{
                                @include fontOpen_Sans;
                                height: 19px;
                                width: 43px;
                                color: #6A6A6A;
                                font-size: 14px;
                                letter-spacing: 0;
                                line-height: 19px;
                            }
                            .recent{
                                height: 19px;
                                color: #F67E03; 
                                @include fontOpen_Sans;
                                font-size: 14px;
                                font-weight: 600;
                                letter-spacing: 0;
                                line-height: 19px;
                                text-align: right;
                            }
                    }
                
            }

            .rating{
                border-radius: 2%;
                margin-bottom: 2rem;
                box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);

                .profile{
                    display: flex;

                .profilepic{
                    padding: 1rem;

                    img { 
                        width: 60px; 
                        height: 60px;
                      } 
                }

                .details{
                    padding: 1rem;

                    .username{
                        font-size: 16px;
                    }

                    .reviewrating{
                        font-size: 14px;
                    }
                }
            }
            .footer{
                display: flex;
                background-color: white;
                border: none;

                .like{
                    position: absolute;
                    right: 0;
                    padding-right: 2rem;
                    color: #6A6A6A;

                    .likes{
                        font-size: 12px;
                        padding: 0.5rem;
                        color: #6A6A6A;
                        @include fontOpen_Sans;
                    }
                }
            }
            .reviewImage{
                padding-left: 6%;
                padding-bottom: 3%;
      
              .review { 
                float: left; 
                margin-right: 0.75rem; 
              } 
            }
        }

            .side{
                margin-top: 2.5rem;

                .card-title{
                    color: #000000;
                    @include fontOpen_Sans;
                    font-size: 22px;
                    font-weight: 600;
                    letter-spacing: -0.24px;
                    line-height: 30px;
                    padding: 1rem;

                }

                .food{
                    height: 22px;
                    padding: 6%;
                    color: #565454;
                    @include fontOpen_Sans;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: -0.24px;
                    line-height: 22px;
                }

                .ratingImage{
                    padding-left: 11%;
                    padding-top: 8%;
          
                  .rate { 
                    float: left; 
                    margin-right: 0.75rem; 
                  } 
                }

                .line{
                    box-sizing: border-box;
                    height: 2px;
                    border: 1px solid #EDEDED;
                }
                .save{
                    text-align: right;
                    padding-right: 3%;

                    img{
                        padding-right: 2%;
                    }

                    .saved{
                        height: 17px;
                        width: 34px;
                        color: #223136;
                        @include fontOpen_Sans;
                        font-size: 12px;
                        letter-spacing: 0;
                        line-height: 17px;
                    }
                }

                .input-text{
                    width: 170px;
                    margin-left: 6%;
                }

                .addimage{
                    text-align: right;
                    color: #F57C00;
                    padding-right: 3%;
                }

                .submit{
                    background:linear-gradient(138.33deg, #F3698E 0%, #FEB456 100%);
                    color: white;
                    border: none;
                    height: 50px;
                    border-radius: 1rem;
                    margin: 5%;
                    text-decoration: none;
                }
            }
        }     
}