<section class="container header">
    <div class="row text">
        <div class="col-md-8">
            <div class="paragraph">
                <p class="review">Reviews</p>
                <div class="right">
                    <p class="show">Show:</p>
                    <p class="recent">Recent <i class="fa fa-long-arrow-down"></i></p>
                </div>
            </div>
            <div class="card rating">
                <div class="profile">
                    <div class="profilepic">
                        <img class="shadow-lg rounded-circle" src="../../../assets/profile/winston.jpg"
                            alt="user profile">
                    </div>
                    <div class="details">
                        <span class="username">Winston Roy</span> <br>
                        <span class="reviewrating">2 reviews, 30 ratings</span><br>
                        <img src="../../../assets/Rating 4.png" alt="rating 4" />
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text">Offers homely and delicious Indian food choices. The rajma chawal, chana
                        bhature, pav bhaaji, kheer and paan mint shisha are all great. The service is good and staff are
                        friendly. We also liked their playlist, it was a mix of Indian and Western songs.</p>
                </div>
                <div class="card-footer footer">
                    <div class="date">March 15, 2018</div>
                    <div class="like">
                        <i class="fas fa-thumbs-up"> <span class="likes">45</span></i>
                    </div>
                </div>
                <div class="row reviewImage">
                    <div>
                        <img class="review" src="../../../assets/review/image copy.png" alt="revieImage1" />
                    </div>
                    <div>
                        <img class="review" src="../../../assets/review/image copy 2.png" alt="revieImage2" />
                    </div>
                    <div>
                        <img class="review" src="../../../assets/review/image copy.png" alt="revieImage3" />
                    </div>
                    <div>
                        <img class="review" src="../../../assets/review/image copy 2.png" alt="revieImage4" />
                    </div>
                </div>
            </div>
            <div class="card rating" *ngFor="let item of reviewRating">
                <div class="profile">
                    <div class="profilepic">
                        <img class="shadow-lg rounded-circle" [src]="item.imageurl"
                            alt="user profile">
                    </div>
                    <div class="details">
                        <span class="username">{{ item.name }}</span> <br>
                        <span class="reviewrating">{{ item.review }} reviews, {{ item.rating }} ratings</span><br>
                        <img src="../../../assets/Rating 4.png" alt="rating 4" />
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text">{{ item.comment }}</p>
                </div>
                <div class="card-footer footer">
                    <div class="date">{{ item.date }}</div>
                    <div class="like">
                        <i class="fas fa-thumbs-up"> <span class="likes">{{ item.like }}</span></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card side">
                <h5 class="card-title">Rate your experience</h5>
                <span class="food">Food</span>
                <div class="row ratingImage">
                    <div>
                        <img class="rate" src="../../../assets/GRating 1.png" alt="rating 1" />
                    </div>
                    <div>
                        <img class="rate" src="../../../assets/GRating 2.png" alt="rating 2" />
                    </div>
                    <div>
                        <img class="rate" src="../../../assets/GRating 3.png" alt="rating 3" />
                    </div>
                    <div>
                        <img class="rate" src="../../../assets/GRating 4.png" alt="rating 4" />
                    </div>
                    <div>
                        <img class="rate" src="../../../assets/Rating 5.png" alt="rating 5" />
                    </div>
                </div><br>
                <div class="line"></div>
                <div class="save">
                    <img src="../../../assets/icn_check.png" alt="saved" />
                    <span class="saved">saved</span>
                </div>

                <span class="food">Service</span>
                <div class="row ratingImage">
                    <div>
                        <img class="rate" src="../../../assets/GRating 1.png" alt="rating 4" />
                    </div>
                    <div>
                        <img class="rate" src="../../../assets/GRating 2.png" alt="rating 4" />
                    </div>
                    <div>
                        <img class="rate" src="../../../assets/GRating 3.png" alt="rating 3" />
                    </div>
                    <div>
                        <img class="rate" src="../../../assets/GRating 4.png" alt="rating 4" />
                    </div>
                    <div>
                        <img class="rate" src="../../../assets/Rating 5.png" alt="rating 2" />
                    </div>
                </div><br>
                <div class="line"></div>
                <div class="save">
                    <img src="../../../assets/icn_check.png" alt="saved" />
                    <span class="saved">saved</span>
                </div>
                <div class="md-form input-text">
                    <input mdbInput type="text" placeholder="Start writing your review" id="form1" class="form-control">
                    <label for="form1" class="">Write a review</label>
                </div>
                <div class="addimage">
                    <span class="addimage">+ Add image</span>
                </div>
                <button type="button" class="submit">Submit</button>
            </div>
        </div>
    </div>

</section>