<div class="container-fluid">
    <app-header></app-header>
    <div class="login">
        <div class="loginbox">
            <mat-icon (click)="redirect()">clear</mat-icon>
            <div class="mat-display-1">Change Password</div>
            <form [formGroup]="service.changepassword">
                <mat-form-field appearance="outline" style="width:20vw">
                    <mat-label>Enter New Password</mat-label>
                    <input matInput type="password" formControlName="newPassword" required>
                    <mat-error *ngIf="service.changepassword.controls['newPassword'].errors?.required">This field is
                        mandatory</mat-error>
                    <mat-error *ngIf="service.changepassword.controls['newPassword'].errors?.minlength">Minimun 6
                        characters required</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" style="width:20vw">
                    <mat-label>Re-Enter New Password</mat-label>
                    <input matInput type="password" formControlName="reEnterPassword" required>
                    <mat-error>This field is mandatory</mat-error>
                </mat-form-field>
                <br>
                <button class="btn" color="accent" mat-raised-button  (click)="checkpassword()">Update</button>
            </form>
        </div>
    </div>
</div>