<p>eg works!</p>
<div class="container-fluide">
<!-- <section id="header"> -->
   
    <div class="container landing-page">
        <div class="row logo">
            <div class="col-12">
                <img src="img/logoblack.png">
            </div>               
        </div>

        <div class="row intro">
            <div class="col-12">
                <h6>Hello I'm</h6>
                <h2>Temple Naylor</h2>
                <h4>Website / App Developer</h4>
            </div>            
        </div>

        <div class="row lets-talk">
            <div class="col-12">
                <button type="button" class="btn btn-primary">Let's Talk</button>
            </div>         
        </div>
    </div>

<!-- </section> -->
</div>