<div class="banner">
    <div>
        <img src="../../../assets/resturantBackground.jpg" alt="image1" />
    </div>
</div>
<section class="container header">
    <div class="landing-page">
        <div class="topLeft">
            <img src="../../../assets/logo.png" alt="image3" />
        </div>
        <div class="row resturantName">
            The Boutique Kitchen
        </div>

        <div class="row resturantAddress">
            <p>Indian, Pakistani, Kebab</p>
        </div>

        <div class="row info">
            <div class="col-md-1 content d-flex justify-content-center rating">
                <div class="rating">
                    <p class="ratingFourPointThree">4.3</p>
                </div>
            </div>
            <div class="col-md-1.5 content d-flex justify-content-center time ">

                <p class="dot"></p>
                <p>63 mins</p>

            </div>
            <div class="col-md-1.5 d-flex justify-content-center time">
                <p class="dot"></p>
                <p>AED3 min order</p>

            </div>
            <div class="col-md-1.5 d-flex justify-content-center time">
                <p>
                    <img class="clock" src="../../../assets/time_icon.png" alt="image3" />
                </p>
                <p>10AM - 11AM</p>
            </div>
        </div>
        <div class="row deliveryRating">
            <p>Delivery rating for last 5 orders</p>
        </div>
        <div class="row drawLine">
            <div class="line"></div>
        </div>
        <br>
        <div class="row ratingImage">
            <div>
                <img src="../../../assets/Rating 4.png" alt="rating 4" />
            </div>
            <div>
                <img src="../../../assets/Rating 4.png" alt="rating 4" />
            </div>
            <div>
                <img src="../../../assets/Rating 3.png" alt="rating 3" />
            </div>
            <div>
                <img src="../../../assets/Rating 4.png" alt="rating 4" />
            </div>
            <div>
                <img src="../../../assets/Rating 2.png" alt="rating 2" />
            </div>
        </div>
        <br>
        <br>
    </div>
</section>